body,
html,
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Protest Guerrilla", sans-serif;
}

html,
body {
  background-image: url("Images/tech.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  background-color: #000;
}

.page-head {
  font-size: 5rem;
  text-align: center;
}

.container {
  display: flex;
  width: 50%;
  margin: 2.5rem auto;
  flex-direction: row;
  align-items: left;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 25rem;
  height: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid azure;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-image: url(Images/background.png);
  background-size: cover;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.card-header {
  font-size: 2.2rem;
  background-color: transparent;
}

.images {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  background-color: transparent;
  box-shadow: none;
  border: 3px double azure;
}

.card-desc {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: transparent;
}

.parent {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.flash {
  display: flex;
  width: 1%;
  flex-direction: column;
  align-items: flex-start;
  align-items: right;
  justify-content: space-between;
}

.card-ani-1:hover {
  transform: scale(1.1);
  color: red;
  transition: 0.3s ease;
}

.card-ani-2:hover {
  transform: rotate(360deg);
  transition: 2s ease;
}

.card-ani-3:hover {
  box-shadow: 0 4px 20px blue;
  transition: box-shadow 0.5s ease;
}

.card-ani-4:hover {
  border: 5rem solid transparent;
  transition: border-color 0.7s ease;
}

.card-ani-5:hover {
  animation: wave 3s ease-in-out;
}
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100rem);
  }
}

.card-ani-6:hover {
  transform: rotateY(180deg);
  transition: 1s ease;
}

.image-ani:hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(Images/henriques.png);
  z-index: 1;
}

@keyframes spamImages {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) rotate(360deg);
  }
}
.image-ani-2:hover {
  animation: spamImages 0.2s infinite;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 50%;
    height: auto;
  }
}

.card-ani-7:hover {
  background-image: url(Images/mew.png);
  opacity: 0;
}
