body,
html,
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Protest Guerrilla", sans-serif;
}

html,
body {
  background-image: url("Images/tech.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  background-color: #000;
}

.page-head {
  font-size: 5rem;
  text-align: center;
}

.flash {
  padding: 1rem;
}

.container {
  display: flex;
  width: 50%;
  margin: 2.5rem auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 25rem;
  height: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid azure;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-image: url(Images/background.png);
}

.card-header {
  font-size: 2.2rem;
  background-color: transparent;
}

.images {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  background-color: transparent;
  box-shadow: none;
  border: 3px double azure;
}

.card-desc {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: transparent;
}
